<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
?>
<div class="all_cate_menu">
    <div class="all_cate_menu_title">
        <h2>Shop by category</h2>
    </div>
    <div class="all_cate_menu_content">
        <ul class="all_menu">
            <?php echo $this->getHtml() ?>
        </ul>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'], function($) {
        $(document).ready(function(){
            $(".all_menu li").each(function(index) {
                if($(this).hasClass("parent")){
                    $(this).find("a").each(function(i) {
                        if(i == 0){
                            $("<span class='all_plus'>+</span><span style='display: none;' class='all_minus'>-</span>").insertAfter(this);
                        }
                    });
                }
            });
            $(".all_plus").click(function() {
                $(this).hide();
                $(this).parent("li").addClass("active");
                $(this).next(".all_minus").next("ul").show();
                $(this).next(".all_minus").show();
            });
            $(".all_minus").click(function() {
                $(this).hide();
                $(this).parent("li").removeClass("active");
                $(this).next("ul").hide();
                $(this).prev(".all_plus").show();
            });
        });
    });
</script>




