<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
?>
<div class="vertical_menu">
    <div class="vertical_menu_title">Categories</div>
    <div class="vertical_menu_content">
        <ul class="ver_menu">
            <?php echo $this->getHtml() ?>
        </ul>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'], function($) {
        $(document).ready(function(){
            $(".ver_menu li").each(function(index) {
                if($(this).hasClass("parent")){
                    $(this).find("a").each(function(i) {
                        if(i == 0){
                            $("<span class='ver_plus'></span><span style='display: none;' class='ver_minus'></span>").insertAfter(this);
                        }
                    });
                }
            });
            $(".ver_plus").click(function() {
                $(this).hide();
                $(this).parent("li").addClass("active");
                $(this).next(".ver_minus").next("ul").show();
                $(this).next(".ver_minus").show();
            });
            $(".ver_minus").click(function() {
                $(this).hide();
                $(this).parent("li").removeClass("active");
                $(this).next("ul").hide();
                $(this).prev(".ver_plus").show();
            });
        });
    });
</script>


<!--<script type="text/javascript">-->
<!--       require(['jquery'], function() {-->
<!--           jQuery(document).ready(function () {-->
<!--               jQuery(".parent").click(function() {-->
<!--                    jQuery(".parent ul").toggle();-->
<!--               });-->
<!--           });-->
<!--       });-->
<!-- </script>-->

