<?php
/**
 * Jason Alvis Twitter
 *
 * @category    JasonAlvis
 * @package     JasonAlvis_Twitter
 * @author      Jason Alvis
 * @copyright   Copyright (c) 2016 Jason Alvis (http://jasonalvis.co.uk)
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>

<?php
    if($this->getType() === 'mentions') {
        $tweets = $this->getMentionsTweets();
    } else if($this->getType() === 'search') {
        $tweets = $this->getSearchTweets();
    } else {
        $tweets = $this->getLatestTweets();
    }
?>

<?php if($this->getEnabled() && $tweets): ?>
    <div>
        <?php if($this->hasTitle()): ?>
            <h2><?php echo $this->escapeHtml($this->getTitle()) ?></h2>
        <?php endif; ?>

        <ul>
            <?php foreach($tweets as $tweet): ?>
                <li>
                    <?php if($this->getShowAvatar()): ?>
                        <p><img src="<?php echo $this->escapeUrl($tweet['user_image']); ?>" alt="<?php echo $this->escapeHtml($tweet['user_name']); ?>"></p>
                    <?php endif; ?>

                    <?php if($this->getShowScreenName()): ?>
                        <p>
                            <?php echo $this->escapeHtml($tweet['user_name']); ?>

                            <a target="_blank" href="<?php echo $this->escapeUrl(sprintf('http://twitter.com/@%s', $tweet['screen_name'])); ?>">
                                <?php echo $this->escapeHtml(sprintf(__('@%s'), $tweet['screen_name'])); ?>
                            </a>
                        </p>
                    <?php endif; ?>

                    <p><?php /* @noEscape */ echo $tweet['tweet']; ?></p>

                    <?php if($this->getShowMedia() && $this->getShowMediaImages() && isset($tweet['media_url']) && isset($tweet['media_image_url'])): ?>
                        <a href="<?php echo $this->escapeUrl($tweet['media_url']); ?>">
                            <img src="<?php echo $this->escapeUrl($tweet['media_image_url'] . ':' . $this->getMediaImageSize()); ?>" alt="">
                        </a>
                    <?php endif; ?>

                    <p><?php echo $this->escapeHtml($tweet['time']); ?></p>

                    <?php if($this->getShowReply()): ?>
                        <a href="<?php echo $this->escapeUrl(sprintf('https://twitter.com/intent/tweet?in_reply_to=%d', $tweet['id'])); ?>" target="_blank">
                            <?php echo $this->escapeHtml(__('Reply')); ?>
                        </a>
                    <?php endif; ?>

                    <?php if($this->getShowRetweet()): ?>
                        <a href="<?php echo $this->escapeUrl(sprintf('https://twitter.com/intent/retweet?tweet_id=%d', $tweet['id'])); ?>" target="_blank">
                            <?php echo $this->escapeHtml(__('Retweet')); ?>
                        </a>
                    <?php endif; ?>

                    <?php if($this->getShowFavorite()): ?>
                        <a href="<?php echo $this->escapeUrl(sprintf('https://twitter.com/intent/like?tweet_id=%d', $tweet['id'])); ?>" target="_blank">
                            <?php echo $this->escapeHtml(__('Favorite')); ?>
                        </a>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>

        <?php if($this->getType() === 'latest' && $this->getShowFollow()): ?>
            <a href="<?php echo $this->escapeUrl(sprintf('https://twitter.com/@%s', $this->getScreenName())); ?>" target="_blank">
                <?php echo $this->escapeHtml(sprintf(__('Follow @%s'), $this->getScreenName())); ?>
            </a>
        <?php endif; ?>
    </div>
<?php endif; ?>
