<!--
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
-->
<ul class="opc-grand-totals">
    <!-- ko if: isDisplayed() -->
    <li class="iwd-grand-total-wrapper">
        <div data-bind="text: title"></div>
        <div class="col grandtotal">
            <span data-bind ="text: getValue(), attr:{'data-label': title}"></span>
            <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </li>
    <!-- ko if: isTaxDisplayedInGrandTotal && isDisplayed() -->
    <li class="grand totals incl iwd-opc-tax">
        <div class="mark">
            <strong data-bind="text: inclTaxLabel"></strong>
        </div>
        <div data-bind="attr: {'data-th': inclTaxLabel}" class="amount">
            <strong><span class="price" data-bind="text: getValue()"></span></strong>
        </div>
    </li>
    <li class="grand totals excl iwd-opc-excl-tax">
        <div class="mark">
            <strong data-bind="text: exclTaxLabel"></strong>
        </div>
        <div data-bind="attr: {'data-th': exclTaxLabel}" class="amount">
            <strong><span class="price" data-bind="text: getGrandTotalExclTax()"></span></strong>
        </div>
    </li>
    <!-- /ko -->
    <!-- ko if: !isTaxDisplayedInGrandTotal && isDisplayed() -->
    <li class="grand totals">
        <div class="mark">
            <strong data-bind="text: title"></strong>
        </div>
        <div data-bind="attr: {'data-th': title}" class="amount">
            <strong><span class="price" data-bind="text: getValue()"></span></strong>
        </div>
    </li>
    <!-- /ko -->
    <!-- ko if: isBaseGrandTotalDisplayNeeded() && isDisplayed() -->
    <li class="totals charge">
        <div class="mark" data-bind="text: basicCurrencyMessage"></div>
        <div class="amount">
            <span class="price" data-bind="text: getBaseValue(), attr: {'data-th': basicCurrencyMessage}"></span>
        </div>
    </li>
    <!-- /ko -->
    <!-- /ko -->
</ul>
