<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<div class="banner_wrapper">
    <div class="banner">
        <img src="<?php echo $this->getViewFileUrl('images/bloemenwinkel-amsterdam.jpg'); ?>" alt="<?php echo __('Bloemenwinkel Amsterdam'); ?>" />
    </div>
</div>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('deliver')->toHtml(); ?>
<div class="contact_main">
    <div class="title">
        <h2>contact</h2>
    </div>
    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_block')->toHtml(); ?>
    <form class="form contact"
          action="<?= $block->escapeUrl($block->getFormAction()) ?>"
          id="contact-form"
          method="post"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <div class="field name required">

                <div class="control">
                    <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                           value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                           class="input-text" type="text" data-validate="{required:true}"
                           placeholder=<?php echo __("Bedrijfsnaam "); ?>>
                </div>
            </div>
            <div class="field contact required">
                <div class="control">
                    <input name="contact" id="contact" title="<?= __('Contact') ?>" class="input-text" type="text"
                           data-validate="{required:true}" placeholder=<?php echo __("Contact"); ?>>
                </div>
            </div>
            <div class="field address required">
                <div class="control">
                    <input name="address" id="address" title="<?= __('Address') ?>" class="input-text" type="text"
                           data-validate="{required:true}" placeholder=<?php echo __("Address"); ?>>
                </div>
            </div>
            <div class="field housenomber required">
                <div class="control">
                    <input name="housenomber" id="housenomber" title="<?= __('House Nomber') ?>" class="input-text"
                           type="text" data-validate="{required:true}" placeholder=<?php echo __("House Nomber"); ?>>
                </div>
            </div>
            <div class="field Postcode required">
                <div class="control">
                    <input name="Postcode" id="Postcode" title="<?= __('Postcode') ?>" class="input-text" type="text"
                           data-validate="{required:true}" placeholder=<?php echo __("Postcode"); ?>>
                </div>
            </div>
            <div class="field residence required">
                <div class="control">
                    <input name="residence" id="residence" title="<?= __('Residence') ?>" class="input-text" type="text"
                           data-validate="{required:true}" placeholder=<?php echo __("Residence"); ?>>
                </div>
            </div>
            <div class="field telephone">
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
                           value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>"
                           class="input-text" type="text" placeholder=<?php echo __("Phone Number"); ?>>
                </div>
            </div>
            <div class="field fax">
                <div class="control">
                    <input name="fax" id="fax" title="<?= __('Fax') ?>" class="input-text" type="text"
                           placeholder=<?php echo __("Fax"); ?>>
                </div>
            </div>
            <div class="field email required">
                <div class="control">
                    <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                           value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>"
                           class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"
                           placeholder=<?php echo __("Email"); ?>>
                </div>
            </div>
            <div class="field comment required">
                <div class="control">
                    <textarea name="comment" id="comment"
                              title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text"
                              cols="5" rows="3" data-validate="{required:true}"
                              placeholder=<?php echo __("comments"); ?>><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                </div>
            </div>
            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value=""/>
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                    <span><?= $block->escapeHtml(__('Submit')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="map">
    <div class="map_container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9749.66118535717!2d4.80274458190904!3d52.34475267491258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e181e7569b91%3A0x1c666922087c6117!2s1066+DG+Nieuw+Sloten%2C+Nederland!5e0!3m2!1snl!2sin!4v1513406395665"
                style="width:100%; border:0;" height="300" frameborder="0" allowfullscreen></iframe>
    </div>
</div>