<form class="form form-postcodenl"
      data-bind="attr: {'id': element.addressType + '-postcodenl'}">
<fieldset class="fieldset"
          data-bind="blockLoader: isLoading, visible: isVisible(), attr: {'id': element.addressType + '-postcodenl-fieldset'}">
    <!-- ko if: element.messageText -->
    <span translate="element.messageText"></span>
    <!-- /ko -->

    <div class="field required">
        <label class="label" data-bind="attr: {'for': element.addressType + '-postcodenl-postcode'}">
            <span data-bind="i18n: 'Postcode'"></span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text"
                   data-bind="
                            textInput: postcodeNL,
                            attr: {'id': element.addressType + '-postcodenl-postcode'}"
                   name="postcodenl_postcode"
                   data-validate="{required:true}"/>
        </div>
    </div>

    <div class="field required">
        <label class="label" data-bind="attr: {'for': element.addressType + '-postcodenl-house'}">
            <span data-bind="i18n: 'HouseNumber'"></span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text"
                   data-bind="
                            textInput: houseNumber,
                            attr: {'id': element.addressType + '-postcodenl-house'}"
                   name="postcodenl_house_number"
                   data-validate="{required:true}"/>

        </div>
    </div>

    <div class="field required" data-bind="visible: houseAdditionalOptions().length > 0">
        <label class="label" data-bind="attr: {'for': element.addressType + '-postcodenl-addition'}">
            <span data-bind="i18n: 'HouseNumber Addition'"></span>
        </label>
        <div class="control">
            <select class="admin__control-select"
                    name="postcodenl_house_addition"
                    data-validate="{required:true}"
                    data-bind="
                        attr: {'id': element.addressType + '-postcodenl-addition'},
                        options: houseAdditionalOptions,
                        value: houseAddition,
                        optionsValue: 'value',
                        optionsText: 'label'"
            />
        </div>
    </div>

    <address class="autocomplete-result" data-bind="attr: {'id': element.addressType + '-nl-result'}"></address>

    <div role="alert" class="message warning"
         data-bind="visible: (validationMessage() && validationMessage().length > 0)" generated="true">
        <span data-bind="text: validationMessage()"/>
    </div>

</fieldset>
</form>
