.vertical_menu{ width: 100%; position: relative; display: inline-block;}
.vertical_menu .vertical_menu_title{ width: 100%; clear: both; padding: 15px; box-sizing: border-box; overflow: hidden; background: green; color: #fff; text-transform: uppercase;}
.vertical_menu .vertical_menu_content{ width: 100%; background:#fff;}
.vertical_menu .vertical_menu_content ul.ver_menu{ box-sizing: border-box; border: 1px solid #ddd; width: 100%; margin: 0px; padding: 0px;}
.vertical_menu .vertical_menu_content ul.ver_menu li{ padding: 0px; margin: 0px; list-style-type: none;}
.vertical_menu .vertical_menu_content ul.ver_menu li ul.submenu{ margin: 0px 0 0 15px; padding: 0px;}
.vertical_menu .vertical_menu_content ul li{ padding: 0px !important; box-sizing: border-box; position: relative;}
.vertical_menu .vertical_menu_content ul li a{ display: inline-block; padding: 10px; box-sizing: border-box; width: 100%; border-bottom: 1px solid #ddd;}
.vertical_menu .vertical_menu_content ul li.parent.active a:first-child{ border-bottom: 1px solid #ddd;}
.vertical_menu .vertical_menu_content ul.submenu{ border-left: 1px solid #ddd;}
.vertical_menu .vertical_menu_content ul.submenu li.last a{ border-bottom: 0px;}
.vertical_menu .vertical_menu_content ul li a span{ color: #000; font-size: 15px;}
.vertical_menu .vertical_menu_content ul li a span:hover{ color: #000;}
.vertical_menu .vertical_menu_content ul li.parent span.ver_plus{ cursor: pointer; line-height: 20px; display: block; float: right; background: #000; color: #fff; font-weight: bold; font-size: 19px; padding: 0px 4px; position: absolute; right: 15px; top: 10px;}
.vertical_menu .vertical_menu_content ul li.parent span.ver_minus{ cursor: pointer; line-height: 20px; display: block; float: right; background: #000; color: #fff; font-weight: bold; font-size: 19px; padding: 0px 7px; position: absolute; right: 15px; top: 10px;}
.vertical_menu .vertical_menu_content ul{ display:none;}
.vertical_menu .vertical_menu_content ul.ver_menu{ display:block;}


.all_cate_menu{ width: 100%; position: relative; display: inline-block;}
.all_cate_menu .all_cate_menu_title{ width: 100%; clear: both; padding: 15px; box-sizing: border-box; overflow: hidden; background: green; color: #fff; text-transform: uppercase;}
.all_cate_menu .all_cate_menu_content{ width: 100%; background:#fff;}
.all_cate_menu .all_cate_menu_content ul.all_menu{ box-sizing: border-box; border: 1px solid #ddd; width: 100%; margin: 0px; padding: 0px;}
.all_cate_menu .all_cate_menu_content ul.all_menu li{ padding: 0px; margin: 0px; list-style-type: none;}
.all_cate_menu .all_cate_menu_content ul.all_menu li ul.submenu{ margin: 0px 0 0 15px; padding: 0px;}
.all_cate_menu .all_cate_menu_content ul li{ padding: 0px !important; box-sizing: border-box; position: relative;}
.all_cate_menu .all_cate_menu_content ul li a{ display: inline-block; padding: 10px; box-sizing: border-box; width: 100%; border-bottom: 1px solid #ddd;}
.all_cate_menu .all_cate_menu_content ul li.parent.active a:first-child{ border-bottom: 1px solid #ddd;}
.all_cate_menu .all_cate_menu_content ul.submenu{ border-left: 1px solid #ddd;}
.all_cate_menu .all_cate_menu_content ul.submenu li.last a{ border-bottom: 0px;}
.all_cate_menu .all_cate_menu_content ul li a span{ color: #000; font-size: 15px;}
.all_cate_menu .all_cate_menu_content ul li a span:hover{ color: #000;}
.all_cate_menu .all_cate_menu_content ul li.parent span.all_plus{ cursor: pointer; line-height: 20px; display: block; float: right; background: #000; color: #fff; font-weight: bold; font-size: 19px; padding: 0px 4px; position: absolute; right: 15px; top: 10px;}
.all_cate_menu .all_cate_menu_content ul li.parent span.all_minus{ cursor: pointer; line-height: 20px; display: block; float: right; background: #000; color: #fff; font-weight: bold; font-size: 19px; padding: 0px 7px; position: absolute; right: 15px; top: 10px;}
.all_cate_menu .all_cate_menu_content ul{ display:none;}
.all_cate_menu .all_cate_menu_content ul.all_menu{ display:block;}