<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="step-title" data-bind="i18n: 'Factuurgegevens'" data-role="title"></div>
<div class="field note billing_add_note">
<!--    <span data-bind="i18n: 'Vul hier uw eigen adres in, wij gebruiken dit adres voor de factuur. Indien uw bezorg en factuuradres hetzelfde is, dan kunt u dat hieronder aanvinken.'"/>-->
    <span data-bind="i18n: 'Enter your own address here, we will use this address for the invoice. If your delivery and billing address are the same, you can select it below.'"/>

</div>
<div class="checkout-billing-address">
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"/>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
            data-bind="i18n: 'My billing and shipping address are the same'"></span></label>
    </div>
    <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <each args="getRegion('billing-address-list')" render="" />
        <div data-bind="fadeVisible: isAddressFormVisible">
            <render args="formTemplate"/>
        </div>
        <render args="actionsTemplate"/>
    </fieldset>
</div>
