<!--
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 -->
<div class="items payment-methods" data-bind="afterRender: initPayment()">
    <!-- ko foreach: { data: getRegion('payment-method-items'), as: 'element'}  -->
        <!-- ko template: element.getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- ko ifnot: getRegion('payment-method-items')().length > 0 -->
    <div class="no-payments-block">
        <!-- ko i18n: 'No Payment Methods'--><!-- /ko -->
    </div>
<!-- /ko -->
