<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?= $block->escapeHtmlAttr($id) ?>">
    <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Language')) ?></span></strong>
    <div class="actions dropdown options switcher-options">
        <div class="action toggle switcher-trigger">
            <strong class="view-<?= $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                <?php
                $flagCurrImg = "images/".$block->getCurrentStoreCode().".png";
                $flagCurrImgUrl = $this->getViewFileUrl($flagCurrImg);
                $chCurr = curl_init();
                curl_setopt($chCurr, CURLOPT_URL,$flagCurrImgUrl);
                curl_setopt($chCurr, CURLOPT_NOBODY, 1);
                curl_setopt($chCurr, CURLOPT_FAILONERROR, 1);
                curl_setopt($chCurr, CURLOPT_RETURNTRANSFER, 1);
                ?>
                <?php if (curl_exec($chCurr)!==FALSE) : ?>
                    <img src="<?php echo $flagCurrImgUrl?>" alt="<?= $block->escapeHtml($block->getStoreName()) ?>" />
                <?php else: ?>
                    <span><?= $block->escapeHtml($block->getStoreName()) ?></span>
                <?php endif; ?>
            </strong>
        </div>

        <ul class="english">
            <?php foreach ($block->getStores() as $_lang): ?>
                <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
                    <?php
                    $flagImg = "images/".$_lang->getCode().".png";
                    $flagImgUrl = $this->getViewFileUrl($flagImg);
                    $ch = curl_init();
                    curl_setopt($ch, CURLOPT_URL,$flagImgUrl);
                    curl_setopt($ch, CURLOPT_NOBODY, 1);
                    curl_setopt($ch, CURLOPT_FAILONERROR, 1);
                    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
                    ?>
                    <li class="view-<?= $block->escapeHtml($_lang->getCode()) ?> switcher-option">
                        <a href="" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_lang) ?>'>
                            <?php if (curl_exec($ch)!==FALSE) : ?>
                                <img src="<?php echo $flagImgUrl?>" alt="<?= $block->escapeHtml($_lang->getName()) ?>" />
                            <?php else: ?>
                                <?= $block->escapeHtml($_lang->getName()) ?>
                            <?php endif; ?>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>