<?php if($this->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("product-and-cart-page-delivery-text")->toHtml()) : ?>
    <div class="product_delivery_text">
        <div class="product_delivery_text_inner">
            <?php echo $this->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("product-and-cart-page-delivery-text")->toHtml(); ?>
        </div>
    </div>
<?php endif;?>