<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="serch">

    <div class="serch_content" id="header_bottom">
        <div class="close_search">
            <button class="btn_close_search" id="btn_close_search">
                <img src="<?php echo $block->getViewFileUrl('images/close1.png'); ?>" />
                <span>close</span>
            </button>
        </div>
    </div>

    <div class="block block-search">
        <div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div>
        <div class="block block-content">
            <form class="form minisearch" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
                <div class="field search">
                    <label class="label" for="search" data-role="minisearch-label">
                        <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                    </label>
                    <div class="control">
                        <input id="search"
                               data-mage-init='{"quickSearch":{
                                    "formSelector":"#search_mini_form",
                                    "url":"<?= /* @escapeNotVerified */ $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]) ?>",
                                    "destinationSelector":"#search_autocomplete"}
                               }'
                               type="text"
                               name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                               value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                               placeholder="<?= /* @escapeNotVerified */ __('Search entire store here...') ?>"
                               class="input-text"
                               maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                               role="combobox"
                               aria-haspopup="false"
                               aria-autocomplete="both"
                               autocomplete="off"/>
                        <div id="search_autocomplete" class="search-autocomplete"></div>
                        <?= $block->getChildHtml() ?>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit"
                            title="<?= $block->escapeHtml(__('Search')) ?>"
                            class="action search">
                        <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
    require(['jquery'], function () {
        jQuery('.serch .block-search').hide();
        jQuery(document).ready(function () {
            jQuery('.serch .close_search').click(function () {
                jQuery('.serch .block-search').slideToggle();
            });
        });
    });
</script>

<!--<script type="text/javascript">-->
<!--    require(['jquery'], function () {-->
<!--        jQuery(document).ready(function () {-->
<!--            jQuery('#header_bottom, #btn_search, #search_menu_link').on('click', function (e) {-->
<!--                e.stopPropagation();-->
<!--            });-->
<!--            jQuery(document).click(function() {-->
<!--                jQuery('#header_bottom').slideUp(300);-->
<!--                if(jQuery('body').hasClass('search-active')){-->
<!--                    jQuery('body').removeClass('search-active');-->
<!--                }-->
<!--            });-->
<!--            jQuery('body').click(function () {-->
<!--                jQuery('body').removeClass('search-active');-->
<!--                jQuery('#search_mini_form').removeClass('active');-->
<!--                jQuery('.field.search > .label').removeClass('active');-->
<!--            });-->
<!--            jQuery('#search_link').click(function () {-->
<!--                jQuery('#header_bottom').slideToggle(300);-->
<!--                jQuery('body').toggleClass('search-active');-->
<!--                jQuery('#search_mini_form').toggleClass('active');-->
<!--                jQuery('.field.search > .label').toggleClass('active');-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
