<!--
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
-->
<!-- ko if: isActive() || hasActiveOptions() -->
<div class="cart-gift-item">
    <div class="gift-item-block block"
         data-collapsible="true"
         data-bind="css: {_active: formBlockVisibility() || resultBlockVisibility()}">
        <div class="admin__field admin__field-option">
            <input type="checkbox" class="admin__control-checkbox" data-bind="click: $data.toggleFormBlockVisibility.bind($data)" name="is-gift-message" value="">

            <label class="admin__field-label" data-bind="i18n: 'Add a gift message to my order'"></label>
        </div>
        <div class="content" data-role="content" data-bind="visible: formBlockVisibility() || resultBlockVisibility()">
            <!-- ko ifnot: resultBlockVisibility() -->
            <div class="gift-options">
                <!-- ko foreach: getRegion('additionalOptions') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <!-- ko template: formTemplate --><!--/ko-->
            </div>
            <!-- /ko -->
            <div class="gift-summary">
                <!-- ko if: resultBlockVisibility() -->
                    <!-- ko foreach: getRegion('additionalOptions') -->
                         <!--ko template: appliedTemplate --><!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: getObservable('message') -->
                        <div class="gift-message-summary">
                            <span data-bind="i18n: 'Message:'"></span>
                            <!-- ko text: getObservable('message') --><!-- /ko -->
                        </div>
                    <!-- /ko -->
                    <div class="actions-toolbar">
                        <div class="secondary">
                            <button type="submit"
                                    class="action action-edit"
                                    data-bind="attr: {title: $t('Edit')}, click: $data.editOptions.bind($data)">
                                <span data-bind="i18n: 'Edit'"></span>
                            </button>
                            <button class="action action-delete"
                                    data-bind="attr: {title: $t('Delete')}, click: $data.deleteOptions.bind($data)">
                                <span data-bind="i18n: 'Delete'"></span>
                            </button>
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
