<div class="footer-top">
    <a href="#"><img src="<?php echo $block->getViewFileUrl('images/footer_top.png'); ?>" /></a>
</div>
<div class="footer content">
    <div class="footer_link">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_algemeen')->toHtml();?>
        <div class="footer_links">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_particulier')->toHtml();?>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_informatie')->toHtml();?>
        </div>

        <div class="footer_links">
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_bezorgen')->toHtml();?>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_abonnementen')->toHtml();?>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_Veel _gestelde')->toHtml();?>
        </div>
        <div class="footer_links">
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_zakelijk')->toHtml();?>
        </div>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_images')->toHtml();?>
        <!--<div class="footer_links">
            <h4>Algemeen</h4>
            <ul>
                <li><a href="{{store url='fair-flowers-fair-plants-ffp'}}">Fair Flowers Fair Plants(FFP)</a></li>
                <li><a href="{{store url='fleurop-amsterdam'}}">Fleurop Amsterdam</a></li>
                <li><a href="{{store url='fleurop-interflora'}}">Fleurop Interflora</a></li>
                <li><a href="{{store url='betaalmogelijkheden'}}">Betaalmogelijkheden</a></li>
                <li><a href="{{store url='kerstbomen-amsterdam'}}">Kerstbomen Amsterdam</a></li>
                <li><a href="{{store url='hydrocultuur-amsterdam'}}">Hydrocultuur Amsterdam</a></li>
                <li><a href="{{store url='rouwboeket-amsterdam'}}">Rouwboeket amsterdam</a></li>
                <li><a href="{{store url='bloemstukken-amsterdam'}}">Bloemstukken Amsterdam</a></li>
                <li><a href="{{store url='rozen-amsterdam'}}">Rozen Amsterdam</a></li>
                <li><a href="{{store url='bloemboeket'}}">Bloemboeket</a></li>
                <li><a href="{{store url='rouwkrans'}}">Rouwkrans</a></li>
                <li><a href="{{store url='bloemenkrans'}}">Bloemenkrans</a></li>
                <li><a href="{{store url='trouwboeket'}}">trouwboeket</a></li>
                <li><a href="{{store url='bruidsboeketten'}}">Bruidsboeketten</a></li>
                <li><a href="{{store url='trouwboeketten'}}">trouwboeketten</a></li>
            </ul>
        </div>

        <div class="footer_links">
            <h4>Particulier</h4>
            <ul>
                <li><a href="{{store url=''}}">Account aanmaken</a></li>
                <li><a href="{{store url='hydrohome'}}">Hydrohome</a></li>
            </ul>
            <h4>Informatie</h4>
            <ul>
                <li><a href="{{store url='informatie'}}">Informatie</a></li>
                <li><a href="{{store url='contact'}}">Contact</a></li>
                <li><a href="{{store url='blog'}}">Blog</a></li>
                <li><a href="{{store url='video-tour'}}">Video Tour</a></li>
                <li><a href="{{store url='voorwaarden'}}">Voorwaarden</a></li>
                <li><a href="{{store url='privacy-policy'}}">Privacy policy</a></li>
                <li><a href="{{store url='klachten'}}">klachten</a></li>
                <li><a href="{{store url='vacatures'}}">Vacatures</a></li>
            </ul>
        </div>
        <div class="footer_links">
            <h4>Bezorgen</h4>
            <ul>
                <li><a href="{{store url='bloemen-bezorgen'}}">Bloemen Bezorgen</a></li>
                <li><a href="{{store url='amsterdam'}}">Amsterdam</a></li>
            </ul>
            <h4>Abonnementen</h4>
            <ul>
                <li><a href="{{store url='bloemenabonnement'}}">Bloemenabonnement</a></li>
                <li><a href="{{store url='bloemabonnement'}}">Bloemabonnement</a></li>
                <li><a href="{{store url='abonnement-zijden'}}">Abonnement zijden</a></li>
                <li><a href="{{store url='bloemwerk'}}">Bloemwerk</a></li>
            </ul>
            <h4>Veel gestelde vragen</h4>
            <ul>
                <li><a href="{{store url='veel-gestelde-vragen'}}">Veel gestelde vragen</a></li>
                <li><a href="{{store url='hulp-nodig-bij-bestellen  '}}">hulp nodig bij bestellen?</a></li>
            </ul>
        </div>
        <div class="footer_links">
            <h4>Zakelijk</h4>
            <ul>
                <li><a href="{{store url=''}}">Inloggen</a></li>
                <li><a href="{{store url=''}}">Account aanmaken</a></li>
                <li><a href="{{store url='kantoorbeplanting'}}">Kantoorbeplanting</a></li>
                <li><a href="{{store url='rekening-account-aanmaken'}}">Rekening account aanmaken</a></li>
                <li><a href="{{store url='kantoorplanten'}}">Kantoorplanten</a></li>
                <li><a href="{{store url='kantoorplant'}}">Kantoorplant</a></li>
            </ul>
            <h4>Amsterdam plant Design</h4>
            <ul>
                <li><a href="{{store url='onze-relaties'}}">Onze Relaties</a></li>
            </ul>
        </div>
        <div class="footer_links">
            <img src="<?php /*echo $block->getViewFileUrl('images/payment.png')*/?>" alt=""/>
        </div>
        <div class="fleurop">
            <img src="<?php /*echo $block->getViewFileUrl('images/footer.png')*/?>" alt=""/>
        </div>-->
    </div>
      <?php /* echo $this->getChildHtml("subscribe"); */?>
      <?php /* echo $this->getChildHtml("footer_links"); */?>
      <?php // echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_identifier')->toHtml();?>
      <?php /* echo $this->getChildHtml("report.bugs"); */?>
</div>
<div class="copyright">
    <?php  echo $this->getChildHtml("copyright"); ?>
</div>

<?php /*
<div class="help_button">
    <a href="<?php echo $block->getUrl('hulp-nodig-bij-bestellen'); ?>">
        <i class="fa fa-play" aria-hidden="true"></i><br>
        <span><?php echo __("help"); ?></span>
        <span><?php echo __("required?"); ?></span>
    </a>
</div> */ ?>


<script type="text/javascript">
    require(['jquery'], function($) {
        $(document).ready(function(){
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() >= 50) {
                    jQuery('.help_button').fadeIn(200);
                } else {
                    jQuery('.help_button').fadeOut(200);
                }
            });

//            jQuery('.help_button').click(function() {
//                jQuery('body,html').animate({
//                    scrollTop : 0
//                }, 500);
//            });

        });
    });
</script>


<script type="text/javascript">
    require(['jquery'], function () {
        var winwidth = jQuery(window).width();
        if (winwidth < 768) {
            jQuery('.footer_links ul').hide();
            jQuery(document).ready(function () {
                jQuery('.footer_links h4').click(function () {
                    jQuery(this).next(".footer_links ul").slideToggle();
                    jQuery(this).toggleClass('active');
                });
            });
        }
    });
</script>




<script type="text/javascript">
    require(['jquery'], function(){
        jQuery(document).ready(function() {
            jQuery(".footer-top a").click(function() {
                jQuery("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });
        });
    });
    require(['jquery'], function(){
        jQuery(document).ready(function() {
            jQuery(".footer-top a").click(function(e) {
            e.preventDefault();
            jQuery("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });
        });
    });
</script>



<script type="text/javascript">
    var google_conversion_id = 983528924;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/983528924/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!--fd434dba16d4de572dd932b91918ab8c-->
