<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$stockObject = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());
if($_product->getTypeId() == "simple") :
    $minQty = $stockObject->getMinSaleQty();
else :
    $minQty = 1;
endif;
?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <div class="control">
                <a class="increment_qty" href="javascript:void(0)">
                    <div class="middle_icon_color pull-left">
                        <span>+</span>
                    </div>
                </a>
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <a class="decrement_qty" href="javascript:void(0)" >
                    <div class="middle_icon_color pull-left">
                        <span>-</span>
                    </div>
                </a>
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>

<script type="text/javascript">
    require(['jquery'], function () {
        jQuery(document).ready(function () {
            jQuery('.increment_qty').click(function () {
                var oldVal = jQuery(this).parent().find("input").val();
                if (parseFloat(oldVal) >= parseFloat(<?php echo $minQty; ?>)) {
                    var newVal = parseFloat(oldVal) + 1;
                    jQuery(this).parent().find("input").val(newVal);
                }
            });

            jQuery('.decrement_qty').click(function () {
                var oldVal = jQuery(this).parent().find("input").val();
                if (parseFloat(oldVal) >= parseFloat(<?php echo $minQty+1; ?>)) {
                    var newVal = parseFloat(oldVal) - 1;
                    jQuery(this).parent().find("input").val(newVal);
                }
            });
        });
    });
</script>