<?php
/**
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
/* @var $block \Bss\OneStepCheckout\Block\OneStepCheckout  */
/* @var $helper \Bss\OneStepCheckout\Helper\Config  */
$helper = $this->helper('Bss\OneStepCheckout\Helper\Config');
$ddhelper = $this->helper('Zenon\Deliverydate\Helper\Data');
$db13ht = $ddhelper->getConfig('delivery_date/general/disable_before_13_hour_time');
$db14ht = $ddhelper->getConfig('delivery_date/general/disable_before_14_hour_time');
$currentDate = $ddhelper->getCurrentDate();
$currentTime = $ddhelper->getCurrentTime();
?>
<script type="text/x-magento-init">
    {
        "#maincontent": {
            "Bss_OneStepCheckout/js/init": {
                "defaultPaymentMethod": "<?php echo $helper->getDefaultPaymentMethod(); ?>",
                "defaultShippingMethod": "<?php echo $helper->getDefaultShippingMethod(); ?>"
            }
        }
    }
</script>

<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Bss_OneStepCheckout::transalate.phtml")->toHtml(); ?>

<script type="text/javascript">
    require(["jquery"], function(){
        jQuery(document).delegate(".opc-sidebar #opc-sidebar .checkout-agreements .checkout-agreement input[type='checkbox']", "change", function() {
            var chkId = jQuery(this).attr('id');
            var chkState = this.checked;
            var position = 10;

            jQuery(".checkout-payment-method .payments .opc-payment .payment-methods .payment-method").each(function(i) {
                var actPayMethId = jQuery(this).children(".payment-method-title").children("input[type='radio']").attr('id');
                var chkFinalId = [chkId.slice(0, position), actPayMethId, chkId.slice(position)].join('');
                //jQuery(this).children(".payment-method-content").children(".checkout-agreements-block").children("div[data-role='checkout-agreements']").children(".checkout-agreements").children(".checkout-agreement").children("label[for='"+chkFinalId+"']").click();
                jQuery(this).children(".payment-method-content").children(".checkout-agreements-block").children("div[data-role='checkout-agreements']").children(".checkout-agreements").children(".checkout-agreement").children("input[id='"+chkFinalId+"']").prop('checked',chkState);
            });
        });
        setInterval(function () {
            jQuery(".checkout-payment-method .payments .opc-payment .payment-methods .payment-method._active .payment-method-content .checkout-agreements-block div[data-role='checkout-agreements'] .checkout-agreements .checkout-agreement").each(function(i) {
                var errorEle = jQuery(this).children("div.mage-error");
                if(errorEle.length > 0) {
                    jQuery(".opc-sidebar #opc-sidebar .checkout-agreements .checkout-agreement").each(function(j) {
                        if(i == j){
                            var errEle = jQuery(this).children("div.mage-error");
                            if(errEle.length == 0){
                                errorEle.clone().appendTo(jQuery(this));
                            } else {
                                errEle.attr('style',errorEle.attr('style'));
                            }
                        }
                    });
                }
            });
        }, 1);

        jQuery(document).delegate(".opc-wrapper #checkoutSteps #opc-shipping_method .checkout-shipping-method #checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load input[name='delivery_date']", "change", function() {
            var $this = jQuery(this);

            function format_time(date_obj) {
                var hour = date_obj.getHours();
                var minute = date_obj.getMinutes();
                var amPM = (hour > 11) ? "PM" : "AM";
                if(hour > 12) {
                    hour -= 12;
                } else if(hour == 0) {
                    hour = "12";
                }
                if(minute < 10) {
                    minute = "0" + minute;
                }
                return hour + ":" + minute + " " + amPM;
            }

            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();
            var outputDate = ((''+day).length<2 ? '0' : '') + day + '.' +
                ((''+month).length<2 ? '0' : '') + month + '.' +
                d.getFullYear() ;

            var outputTime = format_time(d);

            var dselected_date = $this.val();
            //var curr_date = outputDate;
            var curr_date = "<?php echo $currentDate; ?>";
            var sel_time = "<?php echo $db13ht; ?>";
            var sel_time1 = "<?php echo $db14ht; ?>";
            //var curr_time = outputTime;
            var curr_time = "<?php echo $currentTime; ?>";
            dselected_date = dselected_date.split('.');
            curr_date = curr_date.split('.');

            var delivery_date = new Date(dselected_date[2],dselected_date[0],dselected_date[1]);
            var current_date = new Date(curr_date[2],curr_date[0],curr_date[1]);

            var selected_time = new Date("November 1, 2013 " + sel_time);
            var selected_time1 = new Date("November 1, 2013 " + sel_time1);
            var current_time = new Date("November 1, 2013 " + curr_time);

            var $dsnField = $this.parent('.control').parent('.field').parent('#onepage-checkout-shipping-method-additional-load').find('.field.delivery_shipping_note');
            if(current_date.getTime() == delivery_date.getTime() && current_time.getTime() > selected_time.getTime()) {
                $dsnField.find("input[type='radio']").first().attr('disabled','disabled');
                $dsnField.find("input[type='radio']").first().parent('p').hide();
                $dsnField.find("input[type='radio']").first().prop("checked",false);
                $dsnField.find("input[type='radio']").last().prop("checked",true);
                $dsnField.find("input[type='radio']").last().next('label.label').click();
            }else{
                $dsnField.find("input[type='radio']").first().removeAttr('disabled');
                $dsnField.find("input[type='radio']").first().parent('p').show();
            }

            if(current_date.getTime() == delivery_date.getTime() && current_time.getTime() > selected_time1.getTime()) {
                $dsnField.find("input[type='radio']").last().attr('disabled','disabled');
                $dsnField.find("input[type='radio']").last().parent('p').hide();
                $dsnField.find("input[type='radio']").last().prop("checked",false);
            }else{
                $dsnField.find("input[type='radio']").last().removeAttr('disabled');
                $dsnField.find("input[type='radio']").last().parent('p').show();
            }
        });

        jQuery(document).delegate(".opc-wrapper .checkout-shipping-address #checkout-step-shipping select[name='kind_of_customer']", "change", function() {
            var $this = jQuery(this);
            if($this.val() == "company"){
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_address']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_name']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_date']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_time']").hide();

                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company_name']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.department']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.firstname']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.lastname']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.street.admin__control-fields").show();
            }
            if($this.val() == "private"){
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company_name']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.department']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_address']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_name']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_date']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_time']").hide();

                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.firstname']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.lastname']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.street.admin__control-fields").show();
            }
            if($this.val() == "funeral"){
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company_name']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.department']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.firstname']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.lastname']").hide();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.street.admin__control-fields").hide();

                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_address']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.cemetery_name']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_date']").show();
                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.funeral_time']").show();
            }
        });

        setInterval(function () {
            if(jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping select[name='kind_of_customer']").length > 0) {
                var $this = jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping select[name='kind_of_customer']");
                if($this.val() == "company"){
                    if(jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.company_name').length > 0) {
                        if (jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.company_name') !== 'none') {
                            var cmpCloneVal = jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.company_name input').val();
                            if(cmpCloneVal != "") {
                                var cmpVal = jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company'] input[name='company']").val();
                                if(cmpVal != cmpCloneVal) {
                                    jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company'] input[name='company']").val(cmpCloneVal);
                                    jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.company'] input[name='company']").change();
                                }
                            }
                        }
                    }
                }

                if($this.val() == "funeral"){
                    if (jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_name').length > 0) {
                        if (jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_name') !== 'none') {
                            var cemeteryNameCloneVal = jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_name input').val();
                            if(cemeteryNameCloneVal != "") {
                                var arrName = [];
                                var cemeteryNameCloneValArr = cemeteryNameCloneVal.split(' ');
                                arrName.push(cemeteryNameCloneValArr.shift());
                                arrName.push(cemeteryNameCloneValArr.join(' '));
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.firstname'] input[name='firstname']").val(arrName[0]);
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.firstname'] input[name='firstname']").change();
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.lastname'] input[name='lastname']").val(arrName[1]);
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.lastname'] input[name='lastname']").change();
                            }
                        }
                    }

                    if (jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_address').length > 0) {
                        if (jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_address') !== 'none') {
                            var cemeteryAddressCloneVal = jQuery('.opc-wrapper .checkout-shipping-address #checkout-step-shipping .field.cemetery_address input').val();
                            if(cemeteryAddressCloneVal != "") {
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.street.0'] input[name='street[0]']").val(cemeteryAddressCloneVal);
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.street.0'] input[name='street[0]']").change();
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.street.1'] input[name='street[1]']").val("");
                                jQuery(".opc-wrapper .checkout-shipping-address #checkout-step-shipping div.field[name='shippingAddress.street.1'] input[name='street[1]']").change();
                            }
                        }
                    }
                }
            }

        }, 1);
    })
</script>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$datepickerInitBlock = $objectManager->create('Zenon\Deliverydate\Block\DatepickerInit');
$holidays = $datepickerInitBlock->getHolidays();
$scopeConfig = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
$taxDefaultsCountryPath = "tax/defaults/country"; // Default Tax Destination Calculation
$taxDefaultsCountryValue = $scopeConfig->getValue($taxDefaultsCountryPath, \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
if($taxDefaultsCountryValue == "") {
    $taxDefaultsCountryValue = "NL";
}
?>

<script type="text/javascript">
    require(['jquery'], function () {
        jQuery(document).ready(function () {
            var nextDate = setInterval(function() {
                if (jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").length > 0) {

                    var $this = jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']");

                    jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").focus();
                    jQuery("#ui-datepicker-div .ui-datepicker-calendar tbody tr td[data-event='click']").first().click();
                    jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").focusout();

                    clearInterval(nextDate);
                }
            }, 100);
        });
        /*jQuery(document).ready(function () {
            var nextDate = setInterval(function() {
                if (jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").length > 0) {

                    var $this = jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']");

                    function format_time(date_obj) {
                        var hour = date_obj.getHours();
                        var minute = date_obj.getMinutes();
                        var amPM = (hour > 11) ? "PM" : "AM";
                        if(hour > 12) {
                            hour -= 12;
                        } else if(hour == 0) {
                            hour = "12";
                        }
                        if(minute < 10) {
                            minute = "0" + minute;
                        }
                        return hour + ":" + minute + " " + amPM;
                    }

                    var d = new Date();
                    var month = d.getMonth()+1;
                    var day = d.getDate();
                    var outputDate = ((''+day).length<2 ? '0' : '') + day + '.' +
                        ((''+month).length<2 ? '0' : '') + month + '.' +
                        d.getFullYear() ;

                    var outputTime = format_time(d);

                    var dselected_date = $this.val();
                    //var curr_date = outputDate;
                    var curr_date = "< ?php echo $currentDate; ?>";
                    var sel_time = "< ?php echo $db13ht; ?>";
                    var sel_time1 = "< ?php echo $db14ht; ?>";
                    //var curr_time = outputTime;
                    var curr_time = "< ?php echo $currentTime; ?>";
                    dselected_date = dselected_date.split('.');
                    curr_date = curr_date.split('.');

                    var delivery_date = new Date(dselected_date[2],dselected_date[0],dselected_date[1]);
                    var current_date = new Date(curr_date[2],curr_date[0],curr_date[1]);

                    var selected_time = new Date("November 1, 2013 " + sel_time);
                    var selected_time1 = new Date("November 1, 2013 " + sel_time1);
                    var current_time = new Date("November 1, 2013 " + curr_time);

                    var weekday = new Array(7);
                    weekday[0] = "Sunday";
                    weekday[1] = "Monday";
                    weekday[2] = "Tuesday";
                    weekday[3] = "Wednesday";
                    weekday[4] = "Thursday";
                    weekday[5] = "Friday";
                    weekday[6] = "Saturday";

                    // if(current_time.getTime() > selected_time.getTime()) {
                    if(current_time.getTime() > selected_time1.getTime()) {
                        var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                        var currentDateDay = weekday[currentDate.getDay()];
                        if(currentDateDay == "Sunday") {
                            currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000 + 24 * 60 * 60 * 1000);
                        }
                        var dayNxt = currentDate.getDate();
                        var monthNxt = currentDate.getMonth() + 1;
                        var yearNxt = currentDate.getFullYear();
                        var nextDateVal = ((''+dayNxt).length<2 ? '0' : '') + dayNxt + "." + ((''+monthNxt).length<2 ? '0' : '') + monthNxt + "." + yearNxt;

                        jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").val(nextDateVal).change();
                    } else {
                        var currentDateToday = new Date(new Date().getTime());
                        var currentDateTodayDay = weekday[currentDateToday.getDay()];
                        if(currentDateTodayDay == "Sunday") {
                            currentDateToday = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                        }
                        var dayToday = currentDateToday.getDate();
                        var monthToday = currentDateToday.getMonth() + 1;
                        var yearToday = currentDateToday.getFullYear();
                        var nextDateValToday = ((''+dayToday).length<2 ? '0' : '') + dayToday + "." + ((''+monthToday).length<2 ? '0' : '') + monthToday + "." + yearToday;

                        jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").val(nextDateValToday).change();
                    }

                    // var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                    // //var currentDate = new Date();
                    // var day = currentDate.getDate();
                    // var month = currentDate.getMonth() + 1;
                    // var year = currentDate.getFullYear();
                    // var nextDateVal = ((''+day).length<2 ? '0' : '') + day + "." + ((''+month).length<2 ? '0' : '') + month + "." + year;
                    //
                    // jQuery("#checkout-step-shipping_method #co-shipping-method-form #onepage-checkout-shipping-method-additional-load div.field[name='shippingAddress.delivery_date'] input[name='delivery_date']").val(nextDateVal).change();

                    clearInterval(nextDate);
                }
            }, 100);
        });*/

        jQuery(document).delegate(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .billing-address-same-as-shipping-block.field #billing-address-same-as-shipping-shared", "change", function() {
            var $noteHtml = '<div class="field note update" style="font-style: italic; font-weight: 600; width: 100%; display: block; overflow: hidden;"><?php echo __("Click on update to save your invoice address"); ?></div>';

            if(jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .fieldset .billing-address-form form #billing-new-address-form .field.note.update").length == 0) {
                jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .fieldset .billing-address-form form #billing-new-address-form").prepend($noteHtml);
                jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .fieldset .billing-address-form form #billing-new-address-form").append($noteHtml);
            }
        });
    });
</script>

<script type="text/javascript">
    require(['jquery'], function () {
        jQuery(document).ready(function () {
            var unCheck = setInterval(function () {
                /*jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .billing-address-same-as-shipping-block.field #billing-address-same-as-shipping-shared").prop("checked", false);*/
                if(jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .billing-address-same-as-shipping-block.field #billing-address-same-as-shipping-shared").prop("checked") == true){
                    jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .billing-address-same-as-shipping-block.field label[for='billing-address-same-as-shipping-shared']").click();
                    jQuery(".opc-wrapper #checkoutSteps #payment #checkout-step-payment #co-payment-form .checkout-billing-address .billing-address-same-as-shipping-block.field #billing-address-same-as-shipping-shared").trigger("change");

                    clearInterval(unCheck);
                }

            }, 100);

            setInterval(function () {
                var $noteHtmlEmail = '<div class="field note email_note" style="font-style: italic; font-weight: 600; width: 100%; display: block; overflow: hidden;"><?php echo __("Enter your own email address here, we will send you the order confirmation."); ?></div>';
                var $noteHtmlShipAdd = '<div class="field note ship_add_note" style="font-style: italic; font-weight: 600; width: 100%; display: block; overflow: hidden; margin-bottom: 5px;"><?php echo __("Enter the delivery address where the order is delivered must be"); ?></div>';

                if(jQuery(".opc-wrapper #checkoutSteps #shipping #checkout-step-shipping .form.form-login .email_note").length == 0) {
                    jQuery(".opc-wrapper #checkoutSteps #shipping #checkout-step-shipping .form.form-login").prepend($noteHtmlEmail);
                }
                if(jQuery(".opc-wrapper #checkoutSteps #shipping #checkout-step-shipping #co-shipping-form .ship_add_note").length == 0) {
                    jQuery(".opc-wrapper #checkoutSteps #shipping #checkout-step-shipping #co-shipping-form").prepend($noteHtmlShipAdd);
                }

                jQuery('div[name="shippingAddress.country_id"] .control select[name="country_id"] option').each(function (i) {
                    if(jQuery(this).val() != "<?php echo $taxDefaultsCountryValue; ?>" && jQuery(this).val() != "") {
                        jQuery(this).remove();
                    }
                });
            }, 100);
        });
    });
</script>

<style type="text/css">
    .checkout-shipping-address .fieldset.address .field.funeral_date { float: left; width: 60%; clear: left;}
    .checkout-shipping-address .fieldset.address .field.funeral_time { float: right; width: 40%; clear: right;}
    .checkout-shipping-address .fieldset.address .field.funeral_date .label,
    .checkout-shipping-address .fieldset.address .field.funeral_time .label { display: block; padding: 0 3px 5px; font-size: 14px;}
    .checkout-shipping-address .fieldset.address .field.funeral_date input,
    .checkout-shipping-address .fieldset.address .field.funeral_time input { border: 0; background: #e6e6e6; height: 35px; padding: 0 9px; -moz-appearance:textfield; -webkit-appearance: textfield;}
    .checkout-shipping-address .fieldset.address .field.funeral_date input::-webkit-outer-spin-button,
    .checkout-shipping-address .fieldset.address .field.funeral_date input::-webkit-inner-spin-button,
    .checkout-shipping-address .fieldset.address .field.funeral_time input::-webkit-outer-spin-button,
    .checkout-shipping-address .fieldset.address .field.funeral_time input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
</style>