<!--<div class="home_description">-->
<!--    <div class="describe">-->
<!--        <h1>Bloemen bezorgen met Amsterdam <span>flowers</span>.nl</h1>-->
<!--        <p>Amsterdamflowers is DE bloemist met het grootste assortiment bijzondere bloemen van regio Amsterdam. Amsterdamflowers maakt de mooiste seizoens boeketten van dagelijks aangevoerde veiling verse bloemen. Amsterdam flowers levert uw bestelling nog dezelfde dag in geheel Nederland, mits u voor 14.00 uur besteld heeft. Voor Nationaal & Internationaal (worldwide delivery) maken wij gebruik van Fleuropservice. Spoedbestellingen in overleg, bel: 020 6191818. Amsterdamflowers geeft 7 dagen vaasgarantie en levert tevens fairtrade bloemen en planten. Bedrijven kunnen een eigen account aanmaken. </p>-->
<!--        <p>Bloemen voor speciale gelegenheden: relatiegeschenken, trouwboeketten, rouwbloemwerk, rouwboeketten, geboorteboeketten Amsterdamflowers ook voor interieurbeplanting, hydrocultuur, evenementdecoraties, kerst-bomen & -boeketten, eindejaarsgeschenken en nog veel meer... Amsterdamflowers is bovendien zuinig op onze aarde...daarom ondernemen wij duurzaam en verantwoord !</p>-->
<!--    </div>-->
<!--</div>-->