<!-- BEGIN GOOGLE ANALYTICS CODEs --> <script type="text/javascript"> //<![CDATA[ var gaq = gaq || []; _gaq.push(['_setAccount', 'UA-6630323-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); //]]> </script> <!-- END GOOGLE ANALYTICS CODE -->
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>

            <div class="panel_header_center">
                <ul>
                    <li><a href="<?php echo $block->getUrl('newsletter/manage'); ?>"><?php echo __("Newsletter"); ?></a></li>
                    <li>
                    <?php echo $this->getLayout()->createBlock("Magento\Checkout\Block\Cart\Sidebar")->setTemplate("Magento_Checkout::cart/minicart.phtml")->toHtml(); ?>
                    </li>
                    <li><a href="<?php echo $block->getUrl('checkout'); ?>"><?php echo __("to pay"); ?></a></li>
                </ul>
            </div>
            <div class="panel_header_right">
                <ul>
                    <?php if($customerSession->isLoggedIn()): ?>
                        <li><a href="<?php echo $block->getUrl('customer/account/logout'); ?>"><?php echo __('logout'); ?></a><span>|</span></li>
                    <?php else: ?>
                        <li><a href="<?php echo $block->getUrl('customer/account/login'); ?>"><?php echo __('login'); ?></a><span>|</span></li>
                    <?php endif; ?>

                    <?php if($customerSession->isLoggedIn()): ?>
                        <li>
                            <a href="<?php echo $block->getUrl('customer/account'); ?>"><?php echo __('my account'); ?></a>
                        </li>
                        <li>
                    <?php else: ?>
                        <li><a href="<?php echo $block->getUrl('customer/account/create'); ?>"><?php echo __('create an account'); ?></a></li>
                    <?php endif; ?>

                </ul>
            </div>

