<div class="footer_review">
    <h2><?php echo __('Latest Reviews'); ?></h2>
	<?php
		$rss = new DOMDocument();
		//$rss->load('https://www.kiyoh.nl/widgetfeed.php?company=8014');
		$rss->load('https://www.kiyoh.com/v1/review/feed.xml?hash=q8f5smqcqmheaaw');

		$xmlRss = file_get_contents('https://www.kiyoh.com/v1/review/feed.xml?hash=q8f5smqcqmheaaw');
		$rssObject = simplexml_load_string($xmlRss);
		$rssJson  = json_encode($rssObject);
		$rssData = json_decode($rssJson, true);

		$feed = array();
		foreach ($rssData['reviews'] as $rssFeedKey => $rssFeed) {
			foreach ($rssFeed as $feedKey => $feedNode) {
				$title = $feedNode['reviewContent']['reviewContent'][1]['rating'];
				$desc = $feedNode['reviewContent']['reviewContent'][2]['rating'];
				$date = $feedNode['dateSince'];
				$review = array (
					'title' => $title,
					'desc' => $desc,
					'link' => 'https://www.kiyoh.com/reviews/1047311/amsterdamflowers_nl',
					'date' => $date,
				);
				array_push($feed, $review);
			}
		}

		//$limit = 1000;
		$limit = 25;
		echo '<ul>';
		$i=0;
		for($x=0;$x<$limit;$x++) {
			$title = str_replace(' & ', ' &amp; ', $feed[$x]['title']);
			$link = $feed[$x]['link'];
			$description = $feed[$x]['desc'];
			$date = date('l F d, Y', strtotime($feed[$x]['date']));
			if($description){
				$i++;
				echo '<li><div class="a_title"><a href="'.$link.'" title="'.$title.'" class="c-prink">'.$title.'</a></div>';
				echo '<div class="feed">'.$description.'<a target="_blank" href="'.$link.'" class="read-more c-prink">'.__('read more').'</a></div></li>';
			}
			if ($i>1) break;
		}
		echo '</ul>';
	?>
</div>

