<div class="social_top">
    <ul>
        <li><a target="_blank" href="https://twitter.com/intent/tweet?text=hippe%20moeder%7C%20Amsterdamflowers&source=sharethiscom&related=sharethis&url=https://shar.es/1M9hIo"><img src="<?php echo $block->getViewFileUrl('images/twitter.png'); ?>" /></a></li>
        <li><a target="_blank" href="https://www.facebook.com/sharer.php?u=https://shar.es/1M9hO2&t=hippe%20moeder%7C%20Amsterdamflowers"><img src="<?php echo $block->getViewFileUrl('images/facebook.png'); ?>" /></a></li>
        <li><a href="#"><img src="<?php echo $block->getViewFileUrl('images/like.png'); ?>" /></a></li>
        <li><a href="#"><img src="<?php echo $block->getViewFileUrl('images/pinit.png'); ?>" /></a></li>
    </ul>
</div>