<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_category = $block->getCurrentCategory();
$categoryHelper = $this->getCategoryHelper();
$subcategories = $_category->getCategories($_category->getId());
?>
<?php if ($subcategories->count() > 0) : ?>
    <ul class="category_grid products">
        <?php foreach ($subcategories as $subcategory) :?>
            <?php
            $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcategory->getId());
            ?>
            <li class="product-item">
                <div class="product">
                <h2><a href="<?php echo $_category->getUrl(); ?>"><?php echo $_category->getName(); ?></a></h2>
                <?php
                $_imgHtml = '';
                if ($_imgUrl = $_category->getThumbnail()) :
                    $_imgUrl = $mediaUrl.'catalog/category/'.$_category->getThumbnail();
                    $_imgHtml = '<div class="cate_image"><a href="' . $_category->getUrl() . '"><img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" /></a></div>';
                    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'thumbnail');
                    echo $_imgHtml;
                else :
                    ?>
                    <div class="cate_image">
                        <a href="<?php echo $_category->getUrl(); ?>">
                            <img alt="category-place-holder" src="<?php echo $block->getViewFileUrl("images/cg_d.png"); ?>"/>
                        </a>
                    </div>
                <?php endif;?>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>


