<!--
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
-->
<div class="osc-clearfix"></div>
<div class="admin__field admin__field-option">
    <input type="checkbox"
           class="admin__control-checkbox"
           ko-checked="$data.checked"
           disable="disabled"
           ko-value="value"
           hasFocus="focused"
           attr="id: uid, name: inputName"
           data-bind="checked:checked"
    />

    <label class="admin__field-label" text="description || label" attr="for: uid"/>
</div>
