/**
 * BSS Commerce.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Bss Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Bss Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Bss
 * @package    Bss_OneStepCheckout
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

@color_1: #fff;
@font_family_1: 'Roboto',sans-serif;
@background_color_1: #1979c3;
@background_color_2: whitesmoke;
@border_color_1: #ff5501;

& when (@media-common = true) {
    /* material */
    /*--------------- Radio style ---------------*/
    @-webkit-keyframes "click-wave" {
        0% {
            width: 40px;
            height: 40px;
            opacity: 0.35;
            position: relative;
        }
        100% {
            width: 200px;
            height: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0.0;
        }
    }
    @-moz-keyframes "click-wave" {
        0% {
            width: 40px;
            height: 40px;
            opacity: 0.35;
            position: relative;
        }
        100% {
            width: 200px;
            height: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0.0;
        }
    }
    @-o-keyframes "click-wave" {
        0% {
            width: 40px;
            height: 40px;
            opacity: 0.35;
            position: relative;
        }
        100% {
            width: 200px;
            height: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0.0;
        }
    }
    @keyframes "click-wave" {
        0% {
            width: 15px;
            height: 15px;
            opacity: 0.35;
            position: relative;
        }
        100% {
            width: 40px;
            height: 40px;
            margin-left: -15px;
            margin-top: -15px;
            opacity: 0.0;
        }
    }
    #opc-shipping_method {
        display: block;
        float: left !important;
        padding: 20px !important;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all .2s ease-in-out;
        margin-left: 20px;
        .step-title {
            &:before {
                content: '2';
            }
        }
    }
    #shipping {
        display: block;
        float: left !important;
        padding: 20px !important;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all .2s ease-in-out;
        margin-left: 20px;
        .step-title {
            &:before {
                content: '1';
            }
        }
    }
    #payment {
        display: block;
        float: left !important;
        padding: 20px !important;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all .2s ease-in-out;
        margin-left: 20px;
        display: block !important;
        margin-top: 20px;
        .step-title {
            &:before {
                content: '3';
            }
        }
    }
    .opc-progress-bar {
        display: none !important;
    }
    #shipping-method-buttons-container {
        display: none !important;
    }
    .opc-block-shipping-information {
        display: none !important;
    }
    #billing-address-container-clone {
        .actions-toolbar {
            display: none !important;
        }
        .field-select-billing {
            display: none !important;
        }
    }
    .table-checkout-shipping-method {
        min-width: 0 !important;
        width: 100% !important;
        tbody {
            td {
                padding: 10px;
            }
        }
    }
    #place-order-container {
        button {
            width: 100% !important;
            height: 80px !important;
            font-size: 2em;
        }
        margin-top: 20px;
        .action.primary {
            font-size: 35px !important;
        }
    }
    #place-order-container-mobile {
        button {
            width: 100% !important;
            height: 80px !important;
            font-size: 2em;
        }
    }
    .payment-method {
        .actions-toolbar {
            display: none !important;
        }
    }
    .minicart-items {
        display: block !important;
    }
    .payment-option-content {
        display: block !important;
        padding-left: 0px !important;
    }
    .opc-sidebar {
        margin-top: 0;
        margin-top: 0px !important;
    }
    .onestepcheckout-index-index {
        .opc-block-summary {
            > .title {
                &:before {
                    content: '\2713';
                    background-color: @background_color_1 !important;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 35px;
                    color: @color_1;
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 10px;
                    margin-left: 0;
                    font-family: @font_family_1;
                }
            }
            .items-in-cart {
                > .title {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        fieldset.street {
            width: 100%;
            float: left;
        }

        .opc-wrapper {
            .shipping-address-item {
                width: 100%;
            }
        }
    }
    .osc-clearfix {
        clear: both;
    }
    .checkout-payment-method {
        .payment-option-title {
            padding-left: 0px !important;
            .action-toggle {
                &:after {
                    display: none;
                }
            }
        }
        .payment-method-content {
            width: 100%;
            padding: 0 !important;
        }
        .ccard {
            .number {
                .input-text {
                    width: 100%;
                }
            }
            .month {
                .select {
                    width: 100% !important;
                }
            }
            .year {
                .select {
                    width: 100% !important;
                }
            }
        }
        .ccard.fieldset {
            > .field {
                .fields.group.group-2 {
                    .field {
                        width: 50% !important;
                    }
                }
            }
        }
        .payment-method-title {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .billing-address-same-as-shipping-block {
            padding-left: 2px;
        }
    }
    .step-title {
        &:before {
            background-color: @background_color_1 !important;
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
            line-height: 35px;
            color: @color_1;
            font-size: 16px;
            font-weight: 700;
            margin-right: 10px;
            margin-left: 0;
            font-family: @font_family_1;
        }
    }
    .opc-wrapper {
        .form-login {
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
            border: none;
        }
        .shipping-address-item {
            width: 100%;
            padding: 10px;
            &:hover {
                border-color: @border_color_1;
                background-color: @background_color_2;
            }
        }
        .edit-address-link {
            margin: 0;
        }
        .action-select-shipping-item {
            display: none;
        }
        .shipping-address-item.selected-item {
            background-color: @background_color_2;
        }
        .form-shipping-address {
            margin-top: 10px;
        }
    }
    .fieldset {
        > .field {
            margin-bottom: 10px !important;
        }
        > .fields {
            > .field {
                margin-bottom: 10px !important;
            }
        }
    }
    div[name$=".firstname"] {
        width: 50% !important;
        float: left;
    }
    div[name$=".lastname"] {
        width: 50% !important;
        float: left;
    }
    div[name$=".city"] {
        width: 50% !important;
        float: left;
    }
    div[name$=".postcode"] {
        width: 50% !important;
        float: left;
        .message.warning {
            width: 160% !important;
            margin-left: -100% !important;
        }
    }
    div[name$=".telephone"] {
        width: 50% !important;
        float: left;
    }
    div[name$=".company"] {
        width: 50% !important;
        float: left;
    }
    #discount-form {
        margin-top: 20px;
        .payment-option-inner {
            width: 64%;
            display: inline-block;
            float: left;
        }
        .actions-toolbar {
            width: 36%;
            float: left;
            .primary {
                width: 100%;
            }
        }
        label {
            display: none;
        }
    }
    .checkout-index-index {
        .modal-popup {
            .form-shipping-address {
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }
    .iwd-grand-total-wrapper {
        display: none;
    }
    .grand.totals {
        font: lighter 24px 'Open Sans';
        text-transform: uppercase;
        margin: 17px 0 33px 0;
        .amount {
            font: bolder 24px 'Open Sans';
            border: none;
        }
    }
    .opc-grand-totals {
        padding-left: 0;
        padding-bottom: 20px;
        li {
            list-style: none;
        }
        .mark {
            width: auto;
            display: inline-block;
            float: left;
        }
        .amount {
            width: auto;
            display: inline-block;
            float: right;
        }
    }
    .gift-item-block {
        margin-bottom: 20px !important;
        .title {
            padding: 0 !important;
        }
    }
    .gift-options {
        margin: 0 !important;
    }
    .admin__field-option {
        margin-top: 10px;
    }
    .gift-options-title {
        display: none !important;
    }
    .cart-gift-item {
        clear: both;
        padding-top: 20px;
    }
    #block-discount-heading {
        display: none;
    }
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 5px;
        width: 15px;
        height: 15px;
        -webkit-transition: all 0.15s ease-out 0;
        -moz-transition: all 0.15s ease-out 0;
        transition: all 0.15s ease-out 0;
        background: #cbd1d8;
        border: none;
        color: @color_1;
        cursor: pointer;
        display: inline-block;
        outline: none;
        position: relative;
        margin-right: 0.5rem;
        border-radius: 50%;
        &:hover {
            background: #9faab7;
        }
        &:checked {
            background: #1979c3;
            &::before {
                width: 15px;
                height: 15px;
                position: absolute;
                display: inline-block;
                font-size: 25px;
                text-align: center;
                line-height: 40px;
            }
            &::after {
                -webkit-animation: click-wave 0.65s;
                -moz-animation: click-wave 0.65s;
                animation: click-wave 0.65s;
                background: #1979c3;
                content: '';
                display: block;
                position: relative;
                z-index: 100;
            }
        }
        &::after {
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 400px) {
    .opc-wrapper {
        width: 100% !important;
        .form-login {
            background: none;
        }
        .form-shipping-address {
            background: none;
        }
        .methods-shipping {
            background: none;
        }
    }
    .opc-sidebar {
        width: 100% !important;
    }
    #opc-shipping_method {
        width: 100% !important;
        margin-left: 0px;
    }
    #shipping {
        width: 100% !important;
        margin-left: 0px;
    }
    #payment {
        width: 100% !important;
        margin-left: 0px;
    }
    .opc-block-summary {
        padding: 15px;
        width: 90%;
    }
    #place-order-container-mobile {
        display: block;
    }
    #place-order-container {
        display: none;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .opc-wrapper {
        width: 100% !important;
        .form-login {
            background: none;
        }
        .form-shipping-address {
            background: none;
        }
        .methods-shipping {
            background: none;
        }
    }
    .opc-sidebar {
        width: 100% !important;
    }
    #opc-shipping_method {
        width: 100% !important;
        margin-left: 0px;
    }
    #shipping {
        width: 100% !important;
        margin-left: 0px;
    }
    #payment {
        width: 100% !important;
        margin-left: 0px;
    }
    .opc-block-summary {
        padding: 15px;
        width: 90%;
    }
    #place-order-container-mobile {
        display: block;
    }
    #place-order-container {
        display: none;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .opc-wrapper {
        width: 100% !important;
    }
    .opc-sidebar {
        width: 100% !important;
    }
    #opc-shipping_method {
        width: 47% !important;
    }
    #shipping {
        width: 47% !important;
    }
    #payment {
        width: 47% !important;
    }
    #place-order-container-mobile {
        display: none;
    }
    #place-order-container {
        display: block;
    }
    .modal-popup {
        .modal-inner-wrap {
            width: 30% !important;
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    #opc-shipping_method {
        width: 47% !important;
    }
    #shipping {
        width: 47% !important;
    }
    #payment {
        width: 47% !important;
    }
    #place-order-container-mobile {
        display: none;
    }
    #place-order-container {
        display: block;
    }
    .modal-popup {
        .modal-inner-wrap {
            width: 30% !important;
        }
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    #opc-shipping_method {
        width: 47% !important;
    }
    #shipping {
        width: 47% !important;
    }
    #payment {
        width: 47% !important;
    }
    #place-order-container-mobile {
        display: none;
    }
    #place-order-container {
        display: block;
    }
    .modal-popup {
        .modal-inner-wrap {
            width: 30% !important;
        }
    }
}

@media screen and (min-width: 1921px) {
    #opc-shipping_method {
        width: 47% !important;
    }
    #shipping {
        width: 47% !important;
    }
    #payment {
        width: 47% !important;
    }
    #place-order-container-mobile {
        display: none;
    }
    #place-order-container {
        display: block;
    }
    .modal-popup {
        .modal-inner-wrap {
            width: 30% !important;
        }
    }
}
