<div class="field anonymous_info">
    <div class="control">
        <input type="checkbox"
               class="checkbox"
               ko-checked="$data.checked"
               disable="disabled"
               ko-value="value"
               hasFocus="focused"
               attr="id: uid, name: inputName"
        />

        <label class="label" text="description || label" attr="for: uid"/>
    </div>
</div>
