<div id="delivery-date">
    <strong><?php echo __('Delivery Date') ?></strong>
    <span class="price"><?=$block->getDeliveryDate() ?></span>
</div>
<div id="anonymous_info">
    <strong><?php echo __('Anonymous Info') ?></strong>
    <span class="price"><?php /*echo $block->getAnonymousInfo();*/?></span>
</div>
<div id="delivery_shipping_note">
    <strong><?php echo __('Delivery Shipping Note') ?></strong>
    <span class="price"><?php echo $block->getDeliveryShippingNote();?></span>
</div>
<div id="kind_of_customer">
    <strong><?php echo __('Kind of Customer') ?></strong>
    <span class="price"><?php echo $block->getKindOfCustomer();?></span>
</div>
<div id="department">
    <strong><?php echo __('Department') ?></strong>
    <span class="price"><?php echo $block->getDepartment();?></span>
</div>
<?php if (!empty($block->getKindOfCustomer()) && $block->getKindOfCustomer() == 'funeral'): ?>
<div id="name_deceased">
    <strong><?php echo __('Name of the deceased') ?></strong>
    <span class="price"><?php echo $block->getNameDeceased();?></span>
</div>
<div id="cemetery_address">
    <strong><?php echo __('Name cemetery') ?></strong>
    <span class="price"><?php echo $block->getCemeteryAddress();?></span>
</div>
<div id="funeral_date">
    <strong><?php echo __('Funeral Date') ?></strong>
    <span class="price"><?php echo $block->getFuneralDate();?></span>
</div>
<div id="funeral_time">
    <strong><?php echo __('Funeral Time') ?></strong>
    <span class="price"><?php echo $block->getFuneralTime();?></span>
</div>
<?php endif; ?>
<script type="text/javascript">
    require(
        ['jquery'],
        function($) {
            //var element = $('#delivery-date').detach();
            //$('.order-shipping-method').append(element);
            $('#delivery-date .price').html('<?php echo $block->getDeliveryDate();?>');

            var element = $('#anonymous_info').detach();
            $('.order-shipping-method').append(element);

            var ddElement = $('#delivery-date').detach();
            $('.order-shipping-method').append(ddElement);

            var dsnElement = $('#delivery_shipping_note').detach();
            $('.order-shipping-method').append(dsnElement);

            var kocElement = $('#kind_of_customer').detach();
            $('.order-shipping-method').append(kocElement);

            var dElement = $('#department').detach();
            $('.order-shipping-method').append(dElement);

            var dElement = $('#name_deceased').detach();
            $('.order-shipping-method').append(dElement);

            var dElement = $('#cemetery_address').detach();
            $('.order-shipping-method').append(dElement);

            var fdElement = $('#funeral_date').detach();
            $('.order-shipping-method').append(fdElement);

            var ftElement = $('#funeral_time').detach();
            $('.order-shipping-method').append(ftElement);
        }
    );
</script>
