<form class="form form-be-autocomplete"
      data-bind="attr: {'id': element.addressType + '-be-postcodenl'}">
<fieldset class="fieldset"
          data-bind="visible: isVisible(), attr: {'id': element.addressType + '-be-postcodenl-fieldset'}">

    <div class="field required">
        <label class="label" data-bind="attr: {'for': element.addressType + '-be-postal-area'}">
            <span data-bind="i18n: 'Postcode or municipality'"></span>
        </label>
        <div class="control">
            <input class="input-text postal-area"
                   type="text"
                   data-bind="
                   textInput: municipalityName,
                   autoCompleteArea: {type: 'postal-area'},
                   attr: {'id': element.addressType + '-be-postal-area'}"
                   name="be-postal-area"
                   data-validate="{required:true}"/>
        </div>
        <div class="autocomplete-message" data-bind="i18n: 'Postcode or municipality does\'t seem to be valid.'"></div>
    </div>

    <div class="field required">
        <label class="label" data-bind="attr: {'for': element.addressType + '-be-street'}">
            <span data-bind="i18n: 'Street'"></span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text"
                   data-bind="
                       textInput: streetName,
                       autoCompleteStreet: {type: 'street'},
                       attr: {'id': element.addressType + '-be-street'}"
                   name="be-street"
                   data-validate="{required:true}"/>

        </div>
        <div class="autocomplete-message" data-bind="i18n: 'Street does\'t seem to be valid.'"></div>
    </div>

    <div class="field required">
        <label class="label" data-bind="attr: {'for': element.addressType + '-be-house'}">
            <span data-bind="i18n: 'House number'"></span>
        </label>
        <div class="control">
            <input class="input-text"
                   type="text"
                   data-bind="
                            textInput: houseNumber,
                            autoCompleteHouse: {type: 'house'},
                            attr: {'id': element.addressType + '-be-house'}"
                   name="be-house"
                   data-validate="{required:true}"/>

        </div>
    </div>

    <address class="autocomplete-result" data-bind="attr: {'id': element.addressType + '-be-result'}"></address>
</fieldset>
</form>
